/* Rock paper scissor game.. */
* {
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    height: 4.5vmax;
    width: 100%;
    background: linear-gradient(to right, #344dba, #764ba2);
    padding-top: 12px;
    position: fixed;
    top: 0;
    z-index: 20;
    text-align: center;
}

nav #logo-img {
    width: 6vmax;
}

.nav {
    height: 5vmax;
    width: 100%;
    background-color: rgba(17, 180, 186, 0.623);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.nav h1 {
    color: white;
}

body{
    height: 100vh;
    display:flex;
    flex-direction: column;

    background-color: #f7b3d7;
}
.container {
    margin-top: 4.3vmax;
    /* height:; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 4vmax;
}

.container .img {
    height: 8vmax;
    width: 8vmax;
    border-radius: 50px;
    cursor: pointer;
}

.img:hover {
    border: 2px solid black;
}

#rock {
    background-image: url(images/handrock.png);
    background-size: cover;
    background-color: rgb(244, 100, 95);
}

#paper {
    background-image: url(images/hand-paper.png);
    background-size: cover;
    border-radius: 40px;
    background-color: aqua;
}

#scissor {
    background-image: url(images/scissors.png);
    background-size: cover;
    background-color: greenyellow;
}

.container .options {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.container .score-board {
    height: auto;
    width: 17%;
    display: flex;
    justify-content: space-between;
}

.score-board .sec1, .sec2 {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.6vmax;
}

.score-board h2 {
    font-size: 3vmax;
}

.score-board h3 {
    font-size: 2vmax;
}

.sec1 h2{
    color: green;
}
.sec2 h2{
    color: rgb(243, 33, 33);
}

.container .instruction {
    padding: 0 10px 0 10px;
    background-color: rgb(15, 48, 88);
    font-size: 2vmax;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1vmax;
}

.container .computerChoice {
    font-size: 1.87vmax;
    color: #120570;
}


footer {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    text-align: center;
    color: #2a2b2d;
}

footer p a {
    text-decoration: none;
    color: #1f4fb8;
}

footer p a:hover {
    text-decoration: underline;
    text-decoration: underline;
}